<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<div class="contact-wrap">
<div class="contact-in">
    <h6>contact info</h6>
    
    <h6><i class=" fa fas fa-phone"></i>phone </h6>
    <p>08604142219</p>
    <h6><i class=" fa fas fa-envelope-square"></i>email</h6>
    <p>info@gmail.com</p>
    <h6><i class=" fa fas fa-map-marker"></i>address</h6>
    <p>ANTA CHAURAHA,NEAR PETROL PUMP
        SHAHJAHANPUR CITY U.P</P>
    </p>
    <ul class="papa">
        <li><a href="#"><i class=" fa fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class=" fa fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fab fa-twitter"></i></a></li>
        <li><a href="#"><i class=" fa fab fa-google"></i></a></li>
    </ul>

</div>
<div class="contact-in">
    <h6>send a message</h6>
    <form>
        <input type="text" placeholder="full name" class="contact-in-input">
        <input type="text" placeholder="Email" class="contact-in-input">
        <input type="text" placeholder="subject" class="contact-in-input">
<textarea placeholder="message" class="contact-in-textarea"></textarea>
<input type="submit" value="SUBMIT" class="contact-in-btn">
    </form>
</div>
<div class="contact-in">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1799506.9473437783!2d77.50787646226331!3d28.24793678288631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399fbd4a03200c17%3A0x443d2ede360c91b5!2sROYAL%20FASHION%20SHOWROOM!5e0!3m2!1sen!2sin!4v1628782295383!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><div>click on map to see where are we.</div>
</div>
</div>
</body>
</html> 