<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body >
    
    <nav class="navbar background"  >
        <ul class="navlist ">
            <div class="logo"><img src="crown.png" alt="logo"></div>
            <li><a href="#home" >HOME</a></li>
            <li><a href="#about" >ABOUT</a></li>
            <li><a href="#services"  >SERVICES</a></li>
            <li><a href="contact us" >CONTACT US</a></li>
            <li class="chotu"> </li>
         
            
        </ul>
        
        <div class="rightnav" ><p>ROYAL &ensp; FASHION</p></div>
    
          
    </nav>
<section class="first background" id="home">
    <div>
        <p class="font">WE &ensp; DON'T &ensp; SELL &ensp; CLOTHS , WE &ensp; SELL &ensp; HAPPINESS. </p>
    </div>
</section>
<hr>

<section class="secright">
<div>
    <p class="para"> MEN'S &ensp;WEAR</p>
    

 
     

    <p class="subtag">
When a gentleman wants to be dressed to the hilt, it would be difficult to beat men’s designer suits. They are streamlined, enhance the silhouette and are easy to move around in. This is perhaps why the traditional Jodhpuri suit's latest design is just a relevant as a suave tuxedo, even today.We deal with classical shirt's as well as the best fabric jean's.</p>
</div>
<div class="thumbnail">
    <img src="https://images.unsplash.com/photo-1594938328870-9623159c8c99?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VpdHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="CLOTHS" class="photo1">
</div>
</div>
 
</Section>   
</section>

<section class="secleft">
<div class="thumbnail2">
    <p class="para"> KID'S &ensp;CLOTHING</p>
    

 
     

    <p class="subtag">As parents, it is natural to always want your kids to look their best. Needless to say, kids are adorable and they look cute, regardless of what they wear. However, at the same time, it is also important that you buy the right kind of clothing for your kids.Buying kids dress is fun for parents, mostly for mothers. There is so much to choose from—adorable prints, lovely colors, stylish designs, and a lot more. However, shopping for kid’s clothes is easier said than done. If you have a toddler, you can make her wear anything and everything as long as she is comfortable in it.</p>
</div>
<div class="thumbnail">
    <img src="https://images.unsplash.com/photo-1624029769501-5a6cfec0d9e0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8a2lkcyUyMGNsb3RoaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="CLOTHS" class="photo1">
</div>
</div>
 
</Section>
</section>
<section class="secright" id="umar">
<div>
    <p class="para">ETHINIC&ensp; WEAR</p>
    

 
     

    <p class="subtag">India boasts of a rich and ancient textile and clothing heritage that has continued to evolve through time. While the nation is taking big strides towards modernization, its citizens are still traditionalists at heart, especially when it comes to expressing their culture and heritage through fashion.Traditionally, ethnic wear in India was largely derigueur for occasions, festivals and weddings. But in the course of time, as functionality and comfort started taking a centerstage in fashion, the entire template of ethnic wear was subjected to a thorough overhaul.</p>
</div>
<div class="thumbnail" >
    <img src="https://images.unsplash.com/photo-1571908599538-7e1e6e92b064?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwd2VhcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="CLOTHS" class="photo1" id="services">
</div>
</div>
 
</Section>  

<hr>
<section  class="contact" 


    <h1>OUR SERVICES</h1>
    
    <p id="p1">One of the key tenants of business is "buy low and sell high." The clothing retail clothing business is no different. If you want to start a clothing business, buying wholesale is the best way to buy at the lowest price, so you can add your markup, and then sell your goods for a decent profit. Buying wholesale is not difficult, once you find the right places with the inventory you seek.</p>
    <p id="p2" >We bring you the best prices, as we operate at very low margins, if you compare us with a normal Wholesaler nearby you. Buying from us, you can save 25%-35% of the procurement cost on every order. We have more than 313045+ designs on our website for retailers with convenience of e-commerce like COD, Home Delivery, Easy Returns, Value for Money with respect to Quality, Personal Buying Assistance, Volume Discounts, Credit Facilities, and the most important one, Guaranteed Lowest Prices!!!</p>
    <img src="https://d36qiqd7gl7e25.cloudfront.net/img/camparision.jpg" alt="image" class="graph">

</section> 
<hr>
<section class="aboutus" id="about">
    <h1>ABOUT US</h1>
    
  <div class="cards" >
      <div class="divimg">
          <img src="https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" alt="img" id="card1">
          
      </div>
      <div class="title">
<h1>WE SELL</h1>
      </div>
      <div class="discription">
<p>We sell all kind's of ethinic to men's wear and have tie ups with different brand's.We sell cloth's at wholesale price's which are better then any competing market in this era.If u buy in bulk from us you will get good deal.</p>
      </div>
  </div>  
    
    <div class="cards" >
      <div class="divimg">
          <img src="https://images.unsplash.com/photo-1601598853072-3969239a6b9e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGJ1eWluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="img" id="card2">
          
      </div>
      <div class="title">
<h1>WE BUY</h1>
      </div>
      <div class="discription">
<p>We buy cloth's at bulk from wholesaler's in very intutive prices.You can contact us on our website on contact us page aur ping us on whatsapp aur instagram regarding your product.</p>
      </div>
  </div>  
    <div class="cards">
      <div class="divimg">
          <img src="https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdGhpbmclMjBzdG9yZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="img" id="card3">
          
      </div>
      <div class="title">
<h1>OUR STORE</h1>
      </div>
      <div class="discription">
<p>Our retail store is in shajahanpur,uttarpradesh.Where we have latest trending clothes and on demand availability of new brand's.If you are in the city kindly have a look on our collection's.</p>
      </div>
  </div>  
    
  
</section>

<footer class="footer">

<div class="inner-footer">
    <div class="social-links">
        <ul>
            <li class="social-item"><a href="#"><i class="fa fab fa-facebook-square"></i></a>
</a></li>
            <li class="social-item"><a href="#"><i class="fa fab fa-twitter"></i></a></li>
            <li class="social-item"><a href="#"><i class="fa fab fa-instagram"></i></a></li>
            <li class="social-item"><a href="#"><i class="fa fab fa-pinterest"></i></a></li>
        </ul>
    </div>
    <div class="quick-links">
        <ul>
            <li class="likh"><a href="#" class="likh" >Home</a></li>
            <li class="likh"><a href="#" class="likh">Services</a></li>
            <li class="likh"><a href="#" class="likh">About us</a></li>
            <li class="likh"><a href="#" class="likh"> Contact us</a></li>
        </ul>
    </div>
</div>

<div class="outer-footer">Copyright &copy; web yasir .All Right Reserved</div>                  


</footer>
</body>
</html>

  